$background-grey: #f3f3f3;
$thin-border-grey: #9d9d9d;
$text-grey: #777777;
$primary: #3f51b5;
$primary-hover: #303f9f;

body {
  background-color: $background-grey;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.label {
  font-size: 0.75rem;
}

.header {
  height: 4em;
  & h1 {
    font-weight: 300;
    font-size: 2.25rem;
  }
  &__inner {
    display: flex;
    align-items: center;
    width: 82em;
    height: 100%;
    margin: auto;
    &__end {
      margin-left: auto;
    }
  }
}

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr 2fr 2fr;
  grid-template-rows: auto auto;
  gap: 0.5em;
  width: 82em;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}

.panel {
  & h4 {
    font-size: 0.75rem;
    margin-bottom: 0.5em;
  }
  &__full-height {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  &__short-upper {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__short-lower {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__mounting-inner {
    height: 15em;
    width: 25em;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
  }
  &__mounting-tile {
    cursor: pointer;
  }
  &__body-colour-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__body-colour-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2em;
    width: 3.2em;
    border: 1px solid $thin-border-grey;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: white;
    & img {
      position: absolute;
    }
  }
  &__ip-rating-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__light-quality-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 1.5em);
  }
  &__ip-rating-box {
    height: 3.2em;
    width: 3.2em;
    border: 1px solid $thin-border-grey;
    margin-bottom: 0.5em;

    & img {
      position: absolute;
      height: inherit;
    }
  }
  &__ip-rating-text {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 0.8rem;
    font-weight: 700;
  }
  &__icon-status-text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.65rem;
  }
  &__colour-temp-box {
    position: relative;
    height: 3.2em;
    width: 3.2em;
    border: 1px solid $thin-border-grey;
    margin-right: 1em;
  }
  &__cri-box {
    position: relative;
    height: 3.2em;
    width: 3.2em;
    margin-right: 1em;
  }
  &__dimensions-box {
    height: 6.4em;
    width: 6.4em;
    border: 1px solid $thin-border-grey;
    margin-right: 1em;
  }
  &__dimension-tile {
    display: grid;
    grid-template-columns: auto 45px;
    gap: 0.5em;
  }
  &__tile {
    display: flex;
    align-items: flex-start;
    & img {
      object-fit: scale-down;
      height: 3.2em;
      margin-right: 0.25em;
    }
    & img.icons {
      object-fit: scale-down;
      height: 3.2em;
      margin-right: 0.25em;
      opacity: 0.8;
      transition: opacity 0.2s;
      &:hover {
        opacity: 1;
      }
      &.disabled {
        opacity: 0.2;
        &:hover {
          opacity: 0.4;
        }
      }
      &.selected {
        opacity: 1;
      }
    }
    &__bottom-bar {
      display: flex;
      align-items: center;
      width: 100%;
      height: 1em;
      & button {
        background-color: $primary;
        margin-right: 0.5em;
        height: 100%;
        border: 1px solid transparent;
        border-radius: 0.4em;
        cursor: pointer;
        transition: background-color 0.3s;
        color: white;
        font-size: 0.5rem;
        &:hover {
          background-color: $primary-hover;
        }
        &.outline {
          border: 1px solid $primary;
          background-color: transparent;
          color: $primary;
          font-weight: 700;
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  justify-content: center;
}

.results-body {
  margin: 3em auto;
  width: 56em;
  .error-message {
    // background-color: red;
    // margin: auto;
    text-align: center;
  }
}

.product-tile {
  display: grid;
  grid-template-columns: 9.25em 2fr 14em;
  grid-template-rows: 3.5em auto;
  column-gap: 2em;
  row-gap: 1em;

  a {
    font-size: 0.75rem;
    color: $text-grey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .link-text {
    font-size: 0.75rem;
    color: $text-grey;
  }
  .label-text {
    // margin-top: 0.2em;
    font-size: 0.7rem;
    color: $text-grey;
    font-weight: 700;
  }
  .product-info-text {
    font-size: 0.75rem;
  }
  .data {
    display: grid;
    grid-template-columns: 9em 1fr;
    grid-template-rows: repeat(6, auto);
    align-items: start;
    row-gap: 0.5em;
  }

  .manufacturer-data {
    display: grid;
    grid-template-columns: 4em 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: start;
    row-gap: 0.5em;
  }

  & h2 {
    display: inline-block;
    font-size: 1.5rem;
    &.sub-heading {
      font-weight: 300;
    }
  }
  &__product-img {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__heading {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .manufacturer-section {
    border-left: solid 1pt $thin-border-grey;
    padding-left: 1em;
  }
}
